/.vs
/InteractivePlayer/InteractivePlayer/obj/Debug
/InteractivePlayer/InteractivePlayer.Android/obj
/InteractivePlayer/InteractivePlayer/obj
/InteractivePlayer/InteractivePlayer.Android/bin
/InteractivePlayer/InteractivePlayer/obj/Debug
/InteractivePlayer/InteractivePlayer/obj
