# Xamarin/Visual Studio-specific ignores
*.suo
.vs/
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.tlog
*.vspscc
*.vssscc
[Pp]kg/
[Bb]in/
[Oo]bj/
_ReSharper*/
*.apk
*.ipa
*.app
*.dSYM/
*.pfx
*.cer
*.mobileprovision
*.xcarchive
*.xcworkspace/xcuserdata
*.xcsettings
*.xcscheme/xcuserdata
*.xcassets/Assets.xcassets/Contents.json
*.xcassets/Assets.xcassets/AppIcon.appiconset/Contents.json
*.xcassets/LaunchScreen.launchimage/Contents.json